@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference){
  html{
    scroll-behavior: smooth;
  }
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: #000;
  color: #fff;
}



@keyframes glow {
  0% {
    border-color: #ff0000; /* Red */
    box-shadow: 0 0 10px #ff0000;
  }
  25% {
    border-color: #00ff00; /* Green */
    box-shadow: 0 0 10px #00ff00;
  }
  50% {
    border-color: #0000ff; /* Blue */
    box-shadow: 0 0 10px #0000ff;
  }
  75% {
    border-color: #ffff00; /* Yellow */
    box-shadow: 0 0 10px #ffff00;
  }
  100% {
    border-color: #ff0000; /* Back to Red */
    box-shadow: 0 0 10px #ff0000;
  }
}
